CI:
  DOCKER_IMAGE_NAME: "nodejs-starter"
  UMBRELLA_REPO_PATH: "https://github.ibm.com/wp4h/whc-tc-1-umbrella"
  REGISTRY_NAMESPACE: "whc-tc"
  POLICY_NAME: "CI"
CD:
  POLICY_NAME: "CD"
  APP_NAME: "njss"
CT:
  POLICY_NAME: "CT"
PAGERDUTY:
  PAGERDUTY_SERVICE_ID:  "PG43BA7"
GIT:  
  GIT_REPO_OWNER:  "miwiwa" 
  GIT_REPO_NAME:  "sample-PagerDuty-GitIssue-Test"
SLACK:
  SLACK_WEBHOOK_URL: "https://hooks.slack.com/services/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"
ALERT_EXCLUSIONS:
  Linting:
    - no-git
  Unit Tests:
    - no-slack