CI:
  DOCKER_IMAGE_NAME: "nodejs-starter"
  UMBRELLA_REPO_PATH: "https://github.ibm.com/wp4h/whc-tc-1-umbrella"
  REGISTRY_NAMESPACE: "whc-tc"
  POLICY_NAME: "CI"
CD:
  POLICY_NAME: "CD"
  APP_NAME: "njss"
  SLACK_WEBHOOK_URL: "https://hooks.slack.com/services/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"
CT:
  POLICY_NAME: "CT"
ALERT_EXCLUSIONS:
  Linting:
    - no-git  
  Unit Tests:
    - no-git
    - no-pagerduty